<!doctype html>
<html lang="en">

<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="theme-color" content="#FCB42D" />
    <!-- critical preload -->
    <link rel="preload" href="/js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="/css/style.css" as="style">
    <!-- icon preload -->
    <link rel="preload" href="/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="/fonts/archivo-v9-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/archivo-v9-latin-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/archivo-v9-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="//img/favicon.ico" type="image/x-icon">
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="//img/apple-touch-icon.png">
    <title>MasterTraders</title>
</head>

<body>

    <!-- page loader begin -->
    <div class="in-page-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- page loader end -->

        <!-- header begin -->
        <header>
            <div class="uk-section uk-padding-remove-vertical">
                <nav class="uk-navbar-container uk-navbar-transparent"
                    data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                    <div class="uk-container" data-uk-navbar>
                        <div class="uk-navbar-left">
                            <div class="uk-navbar-item">
                                <a class="uk-logo" href="index-2.html">
                                    <img src="/img/in-lazy.gif" data-src="/img/in-logo.svg" alt="logo" width="146" height="40"
                                        data-uk-img>
                                </a>
                                <ul class="uk-navbar-nav uk-visible@m">
                                    <li><a href="../index.ejs">Home</a>
                                    </li>
                                    <li><a href="markets.html">Markets</a>
                                    </li>
                                    <li><a href="../about.ejs">About</a>
                                    </li>
                                    <li><a href="education.html">Education</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-navbar-right">
                            <div class="uk-navbar-item uk-visible@m in-optional-nav">
                                <a href="../login.ejs" class="uk-button uk-button-text">Log in<i
                                        class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                <a href="../register.ejs" class="uk-button uk-button-primary">Sign up<i
                                        class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- header end -->

        <main>