<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="theme-color" content="#FCB42D" />
    <!-- critical preload -->
    <link rel="preload" href="../js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="../css/style.css" as="style">
    <!-- icon preload -->
    <link rel="preload" href="../fonts/fa-brands-400.woff2" as="font" type="../font/woff2" crossorigin>
    <link rel="preload" href="../fonts/fa-solid-900.woff2" as="font" type="../font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="../fonts/archivo-v9-latin-regular.woff2" as="font" type="../font/woff2" crossorigin>
    <link rel="preload" href="../fonts/archivo-v9-latin-300.woff2" as="font" type="../font/woff2" crossorigin>
    <link rel="preload" href="../fonts/archivo-v9-latin-700.woff2" as="font" type="../font/woff2" crossorigin>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="../img/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/waitMe.min.css">
    <link rel="stylesheet" href="/css/modal-plugin.css">
    <style>
        .error_s strong {display: inline-block; margin: 0; padding: 0px 0px; border-radius: 3px; background-color: #eaeaea; color: #b9316f; font-weight: 600;}
        .success_ strong {display: inline-block; margin: 0; padding: 2px 5px; border-radius: 3px; background-color: #eaeaea; color: #0cb73c; font-weight: 600;}
        .error_list {letter-spacing: normal; line-height: 1.5;}
        .error_list:first-child{padding-top: 10px;}
    </style>
    <title>Reset Password - MasterTraders</title>
</head>

<body>
    <!-- page loader begin -->
    <div class="in-page-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- page loader end -->
    <main>
    <!-- section content begin -->
    <div class="uk-section uk-section-secondary uk-light uk-padding-remove-vertical">
        <div class="uk-container uk-container-expand">
            <div class="uk-grid" data-uk-height-viewport="expand: true">
                <div class="uk-width-3-5@m uk-background-cover uk-background-center-right uk-visible@m uk-box-shadow-xlarge" style="background-image: url(../img/in-signin-image.jpg);">                
                    
                </div>
                <div class="uk-width-expand@m uk-flex uk-flex-middle">
                    <div class="uk-grid uk-flex-center">
                        <div class="uk-width-3-5@m">
                            <div class="uk-text-center in-padding-horizontal@s">
                                <a class="uk-logo" href="/">
                                    <img src="../img/in-lazy.gif" data-src="../img/user/header-logo-Uw3Zp9.svg" alt="logo" width="146" height="40" data-uk-img>
                                </a>
                                <p class="uk-text-lead uk-margin-small-top uk-margin-medium-bottom">Reset your password</p>
                                <!-- login form begin -->
                                <form action="/account/reset" id="reset-login-form" class="uk-grid uk-form">
                                    <div class="uk-margin-small uk-width-1-1 uk-inline">
                                        <span class="uk-form-icon uk-form-icon-flip fas fa-envelope fa-sm"></span>
                                        <input class="uk-input uk-border-rounded" id="email" name="email" value="" type="text" placeholder="Your login email">
                                    </div>
                                    <div class="uk-margin-small uk-width-1-1">
                                        <button class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-float-left" type="submit" name="submit">Submit</button>
                                    </div>
                                   
                                  
                                </form>
                                <!-- login form end -->
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
    </main>
    <!-- javascript -->
    <script src="../js/vendors/uikit.min.js"></script>
    <script src="../js/utilities.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/waitMe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/common.js"></script>
    
    <script src="/app/base.js"></script>
    <script src="/app/index.js"></script>
</body>

</html>