<%- include('./inc/header') %>

    <%- include('./inc/sidebar') %>

        <!-- main content-->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Team</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                <li class="breadcrumb-item active">Team</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="search-box">
                                        <input type="text" class="form-control" id="searchMemberList"
                                            placeholder="Search for name or designation...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-auto ms-auto">
                                    <div class="list-grid-nav hstack gap-1">
                                        <button class="btn btn-info addMembers-modal" data-bs-toggle="modal"
                                            data-bs-target="#addmemberModal"><i
                                                class="ri-add-fill me-1 align-bottom"></i> Add Members</button>
                                        <button type="button" class="btn btn-soft-primary btn-icon fs-14"><i
                                                class="ri-grid-fill"></i></button>
                                        <button type="button" class="btn btn-soft-primary  btn-icon fs-14"><i
                                                class="ri-list-unordered"></i></button>
                                        <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                            aria-expanded="false" class="btn btn-soft-secondary btn-icon fs-14"><i
                                                class="ri-more-2-fill"></i></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                            <li><a class="dropdown-item" href="#">All</a></li>
                                            <li><a class="dropdown-item" href="#">Last Week</a></li>
                                            <li><a class="dropdown-item" href="#">Last Month</a></li>
                                            <li><a class="dropdown-item" href="#">Last Year</a></li>
                                        </ul>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row" id="team-member-list"></div>
            <!--end row-->

            <div class="row g-0 justify-content-end mb-4" id="pagination-element">
                <!-- end col -->
                <div class="col-sm-6">
                    <div
                        class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0">
                        <div class="page-item">
                            <a href="javascript:void(0);" class="page-link" id="page-prev">Previous</a>
                        </div>
                        <span id="page-num" class="pagination"></span>
                        <div class="page-item">
                            <a href="javascript:void(0);" class="page-link" id="page-next">Next</a>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-12">
                    <h5 class="card-title mb-4">Basic Example</h5>
                </div>
            </div>

            <div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4 m-2">
                            <div class="row mb-4 pb-2">
                                <div class="col">
                                    <div class="flex-shrink-0 me-2">
                                        <button type="button"
                                            class="btn btn-outline-danger custom-toggle rounded-circle btn-icon btn-sm"
                                            data-bs-toggle="button">
                                            <span class="icon-on"><i class="ri-heart-line fs-14"></i></span>
                                            <span class="icon-off"><i class="ri-heart-fill fs-14"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col text-end dropdown"> <a href="javascript:void(0);"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="ri-more-fill fs-17"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item edit-list" href="#addmemberModal"
                                                data-bs-toggle="modal" data-edit-id="12"><i
                                                    class="ri-pencil-line me-2 align-bottom text-muted"></i>Edit</a>
                                        </li>
                                        <li><a class="dropdown-item remove-list" href="#removeMemberModal"
                                                data-bs-toggle="modal" data-remove-id="12"><i
                                                    class="ri-delete-bin-5-line me-2 align-bottom text-muted"></i>Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center mb-4">
                                <img src="assets/images/users/avatar-9.jpg" alt="" class="avatar-md rounded-3" />
                            </div>
                            <div class="text-center">
                                <a href="#member-overview" data-bs-toggle="offcanvas">
                                    <h5 class="fs-17">Jordan Martino</h5>
                                </a>
                                <p class="text-muted mb-0">jordan.martino@hybrix.com</p>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4 m-2">
                            <div class="row mb-4 pb-2">
                                <div class="col">
                                    <div class="flex-shrink-0 me-2">
                                        <button type="button"
                                            class="btn btn-outline-danger custom-toggle rounded-circle btn-icon btn-sm"
                                            data-bs-toggle="button">
                                            <span class="icon-on"><i class="ri-heart-line fs-14"></i></span>
                                            <span class="icon-off"><i class="ri-heart-fill fs-14"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col text-end dropdown"> <a href="javascript:void(0);"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="ri-more-fill fs-17"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item edit-list" href="#addmemberModal"
                                                data-bs-toggle="modal" data-edit-id="12"><i
                                                    class="ri-pencil-line me-2 align-bottom text-muted"></i>Edit</a>
                                        </li>
                                        <li><a class="dropdown-item remove-list" href="#removeMemberModal"
                                                data-bs-toggle="modal" data-remove-id="12"><i
                                                    class="ri-delete-bin-5-line me-2 align-bottom text-muted"></i>Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center mb-4">
                                <img src="assets/images/users/avatar-10.jpg" alt="" class="avatar-md rounded-3" />
                            </div>
                            <div class="text-center">
                                <a href="#member-overview" data-bs-toggle="offcanvas">
                                    <h5 class="fs-17">Nancy Martino</h5>
                                </a>
                                <p class="text-muted mb-0">nancy.martino@hybrix.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4 m-2">
                            <div class="row mb-4 pb-2">
                                <div class="col">
                                    <div class="flex-shrink-0 me-2">
                                        <button type="button"
                                            class="btn btn-outline-danger custom-toggle rounded-circle btn-icon btn-sm"
                                            data-bs-toggle="button">
                                            <span class="icon-on"><i class="ri-heart-line fs-14"></i></span>
                                            <span class="icon-off"><i class="ri-heart-fill fs-14"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col text-end dropdown"> <a href="javascript:void(0);"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="ri-more-fill fs-17"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item edit-list" href="#addmemberModal"
                                                data-bs-toggle="modal" data-edit-id="12"><i
                                                    class="ri-pencil-line me-2 align-bottom text-muted"></i>Edit</a>
                                        </li>
                                        <li><a class="dropdown-item remove-list" href="#removeMemberModal"
                                                data-bs-toggle="modal" data-remove-id="12"><i
                                                    class="ri-delete-bin-5-line me-2 align-bottom text-muted"></i>Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center mb-4">
                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-md rounded-3" />
                            </div>
                            <div class="text-center">
                                <a href="#member-overview" data-bs-toggle="offcanvas">
                                    <h5 class="fs-17">Pieter Novitsky</h5>
                                </a>
                                <p class="text-muted mb-0">pieter.novitsky@hybrix.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4 m-2">
                            <div class="row mb-4 pb-2">
                                <div class="col">
                                    <div class="flex-shrink-0 me-2">
                                        <button type="button"
                                            class="btn btn-outline-danger custom-toggle rounded-circle btn-icon btn-sm active"
                                            data-bs-toggle="button">
                                            <span class="icon-on"><i class="ri-heart-line fs-14"></i></span>
                                            <span class="icon-off"><i class="ri-heart-fill fs-14"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col text-end dropdown"> <a href="javascript:void(0);"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="ri-more-fill fs-17"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item edit-list" href="#addmemberModal"
                                                data-bs-toggle="modal" data-edit-id="12"><i
                                                    class="ri-pencil-line me-2 align-bottom text-muted"></i>Edit</a>
                                        </li>
                                        <li><a class="dropdown-item remove-list" href="#removeMemberModal"
                                                data-bs-toggle="modal" data-remove-id="12"><i
                                                    class="ri-delete-bin-5-line me-2 align-bottom text-muted"></i>Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center mb-4">
                                <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-md rounded-3" />
                            </div>
                            <div class="text-center">
                                <a href="#member-overview" data-bs-toggle="offcanvas">
                                    <h5 class="fs-17">Allyson Booker</h5>
                                </a>
                                <p class="text-muted mb-0">allyson.booker@hybrix.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4 m-2">
                            <div class="row mb-4 pb-2">
                                <div class="col">
                                    <div class="flex-shrink-0 me-2">
                                        <button type="button"
                                            class="btn btn-outline-danger custom-toggle rounded-circle btn-icon btn-sm"
                                            data-bs-toggle="button">
                                            <span class="icon-on"><i class="ri-heart-line fs-14"></i></span>
                                            <span class="icon-off"><i class="ri-heart-fill fs-14"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col text-end dropdown"> <a href="javascript:void(0);"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="ri-more-fill fs-17"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item edit-list" href="#addmemberModal"
                                                data-bs-toggle="modal" data-edit-id="12"><i
                                                    class="ri-pencil-line me-2 align-bottom text-muted"></i>Edit</a>
                                        </li>
                                        <li><a class="dropdown-item remove-list" href="#removeMemberModal"
                                                data-bs-toggle="modal" data-remove-id="12"><i
                                                    class="ri-delete-bin-5-line me-2 align-bottom text-muted"></i>Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center mb-4">
                                <img src="assets/images/users/avatar-3.jpg" alt="" class="avatar-md rounded-3" />
                            </div>
                            <div class="text-center">
                                <a href="#member-overview" data-bs-toggle="offcanvas">
                                    <h5 class="fs-17">Cristofer Leblanc</h5>
                                </a>
                                <p class="text-muted mb-0">cristofer.leblanc@hybrix.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div><!--end row-->

        </div><!-- container-fluid -->
    </div><!-- End Page-content -->

    
</div>
<!-- end main content-->


        <%- include('./inc/footer') %>