<!doctype html>
<html lang="en">


<!-- Mirrored from www.indonez.com/html-demo/Equity/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Apr 2023 23:00:26 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="theme-color" content="#FCB42D" />
    <!-- critical preload -->
    <link rel="preload" href="js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="css/style.css" as="style">
    <!-- icon preload -->
    <link rel="preload" href="fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="fonts/archivo-v9-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/archivo-v9-latin-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/archivo-v9-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
    <title>About - MasterTraders</title>
</head>

<body>
    <!-- page loader begin -->
    <div class="in-page-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- page loader end -->
    <!-- header begin -->
    <header>
        <div class="uk-section uk-padding-remove-vertical">        
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <a class="uk-logo" href="/">
                                <img src="img/in-lazy.gif" data-src="img/in-logo.svg" alt="logo" width="146" height="40" data-uk-img>
                            </a>
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li><a href="/">Home</a>
                                </li>
                                <li><a href="/about">About us</a>
                                </li>
                                <li><a href="/contact">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            <a href="account" class="uk-button uk-button-text">Log in<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            <a href="account/register" class="uk-button uk-button-primary">Sign up<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>  
    </header>
    <!-- header end -->
    <!-- breadcrumb content begin -->
    <div class="uk-section uk-padding-remove-vertical in-equity-breadcrumb">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <ul class="uk-breadcrumb">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb content end -->
    <main>
    <!-- section content begin -->
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-flex uk-flex-center">
                    <div class="uk-width-3-5@m uk-text-center">
                        <h1 class="uk-margin-remove-bottom">Putting our  <span class="in-highlight">clients first</span></h1>
                        <p class="uk-text-lead uk-text-muted uk-margin-small-top">We’ve been empowering clients by helping them take control of their financial lives.</p>
                    </div>
                </div>
                <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-right">
                        <div class="in-icon-wrap primary-color">
                          <i class="fas fa-leaf fa-lg"></i>
                        </div>
                        </div>
                        <div>
                            <h3>Philosophy</h3>
                            <p class="uk-margin-remove-bottom">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-right">
                        <div class="in-icon-wrap primary-color">
                            <i class="fas fa-hourglass-end fa-lg"></i>
                        </div>
                        </div>
                        <div>
                            <h3>History</h3>
                            <p class="uk-margin-remove-bottom">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-right">
                        <div class="in-icon-wrap primary-color">
                            <i class="fas fa-flag fa-lg"></i>
                        </div>
                        </div>
                        <div>
                            <h3>Culture</h3>
                            <p class="uk-margin-remove-bottom">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
    <!-- section content begin -->
<div class="uk-section uk-section-primary uk-preserve-color in-equity-6 uk-background-contain uk-background-center"
data-src="/img/in-equity-decor-2.svg" data-uk-img>
<div class="uk-container uk-margin-small-bottom">
    <div class="uk-grid uk-flex uk-flex-center">
        <div class="uk-width-2xlarge@m uk-text-center">
            <h1>KNOW MORE ABOUT US</h1>
            <p class="uk-text-lead">MTFX ia a subsidiary of FP Martets. Established and regulated since 2005,
                 FP Markets is a global Financial
                 Technology services Foreign Exchange (Forex) and Contracts for Differences (CFD) broker.
                </p>
                 <p class="uk-text-lead">We pride ourselves on delivering an exceptional trading experience and 
                    have been awarded as the #1 Value Global Forex Broker* on multiple occasions. Forex traders 
                    understand the importance of trading with a regulated universal broker in the Forex market as
                     it means that MTFX must adhere to some of the most stringent international regulations of the
                      Australian Securities and Investment Commission (ASIC), the Cyprus Securities and Exchange Commission
                     (CySEC), and the European Securities and Markets Authority (ESMA).
                    </p>
                     <p class="uk-text-lead">
                        Since the inception of MTFX, We have sort expansion across many countries in Africa,
                         Asia and Europe. Our success is centred around miscellaneous core values. Values that 
                         include providing competitive brokerage fees through tight spreads, ensuring lightning-fast 
                         execution, access to advanced trading platforms
                         with an extensive portfolio of financial products, and exceptional customer service.
                     </p>
        </div>
    </div>
</div>
</div>
<!-- section content end -->
   
    <!-- section content begin -->
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-3-4@m">
                    <div class="uk-grid uk-flex uk-flex-middle" data-uk-grid>
                        <div class="uk-width-1-2@m">
                            <h4 class="uk-text-muted">Number speaks</h4>
                            <h1 class="uk-margin-medium-bottom">We always ready<br>for a challenge.</h1>
                            <a href="#" class="uk-button uk-button-primary uk-border-rounded">Sign up<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                        </div>
                        <div class="uk-width-1-2@m">
                            <div class="uk-margin-large" data-uk-grid>
                                <div class="uk-width-1-3@m">
                                    <h1 class="uk-text-primary uk-text-right@m">
                                        <span class="count" data-counter-end="500">0</span>
                                    </h1>
                                    <hr class="uk-divider-small uk-text-right@m">
                                </div>
                                <div class="uk-width-expand@m">
                                    <h4>Happy Clients</h4>
                                </div>
                            </div>
                            <div class="uk-margin-large" data-uk-grid>
                                <div class="uk-width-1-3@m">
                                    <h1 class="uk-text-primary uk-text-right@m">
                                        <span class="count" data-counter-end="10000">0</span>
                                    </h1>
                                    <hr class="uk-divider-small uk-text-right@m">
                                </div>
                                <div class="uk-width-expand@m">
                                    <h4>Successful Trades</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
    </main>
    <footer>
            <hr class="uk-margin-large">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-middle">
                    <div class="uk-width-2-3@m uk-text-small">
                        <p class="copyright-text">©2023 MasterTraders FX. All Rights Reserved.</p>
                    </div>
                    <div class="uk-width-1-3@m uk-flex uk-flex-right uk-visible@m">
                        <span class="uk-margin-right"><img src="/img/in-lazy.gif" data-src="/img/in-footer-mastercard.svg"
                                alt="footer-payment" width="34" height="21" data-uk-img=""></span>
                        <span><img src="/img/in-lazy.gif" data-src="/img/in-footer-visa.svg" alt="footer-payment" width="50"
                                height="16" data-uk-img=""></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- to top begin -->
    <a class="to-top uk-visible@m" data-uk-scroll>
        <i class="fas fa-chevron-up" ></i>
    </a>
    <!-- to top end -->
    <!-- javascript -->
    <script src="js/vendors/uikit.min.js"></script>
    <script src="js/utilities.min.js"></script>
    <script src="js/config-theme.js"></script>
</body>


<!-- Mirrored from www.indonez.com/html-demo/Equity/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Apr 2023 23:00:29 GMT -->
</html>