<%- include('./../inc/header') %>

    <!-- breadcrumb content begin -->
    <div class="uk-section uk-padding-remove-vertical in-equity-breadcrumb">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <ul class="uk-breadcrumb">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb content end -->
    <main>
    <!-- section content begin -->
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-flex uk-flex-center">
                    <div class="uk-width-3-5@m uk-text-center">
                        <h1 class="uk-margin-remove-bottom">Putting our  <span class="in-highlight">clients first</span></h1>
                        <p class="uk-text-lead uk-text-muted uk-margin-small-top">We’ve been empowering clients by helping them take control of their financial lives.</p>
                    </div>
                </div>
                <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-right">
                        <div class="in-icon-wrap primary-color">
                          <i class="fas fa-leaf fa-lg"></i>
                        </div>
                        </div>
                        <div>
                            <h3>Philosophy</h3>
                            <p class="uk-margin-remove-bottom">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-right">
                        <div class="in-icon-wrap primary-color">
                            <i class="fas fa-hourglass-end fa-lg"></i>
                        </div>
                        </div>
                        <div>
                            <h3>History</h3>
                            <p class="uk-margin-remove-bottom">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-right">
                        <div class="in-icon-wrap primary-color">
                            <i class="fas fa-flag fa-lg"></i>
                        </div>
                        </div>
                        <div>
                            <h3>Culture</h3>
                            <p class="uk-margin-remove-bottom">At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
    <!-- section content begin -->
<div class="uk-section uk-section-primary uk-preserve-color in-equity-6 uk-background-contain uk-background-center"
data-src="/img/in-equity-decor-2.svg" data-uk-img>
<div class="uk-container uk-margin-small-bottom">
    <div class="uk-grid uk-flex uk-flex-center">
        <div class="uk-width-2xlarge@m uk-text-center">
            <h1>KNOW MORE ABOUT US</h1>
            <p class="uk-text-lead">MTFX ia a subsidiary of FP Martets. Established and regulated since 2005,
                 FP Markets is a global Financial
                 Technology services Foreign Exchange (Forex) and Contracts for Differences (CFD) broker.
                </p>
                 <p class="uk-text-lead">We pride ourselves on delivering an exceptional trading experience and 
                    have been awarded as the #1 Value Global Forex Broker* on multiple occasions. Forex traders 
                    understand the importance of trading with a regulated universal broker in the Forex market as
                     it means that MTFX must adhere to some of the most stringent international regulations of the
                      Australian Securities and Investment Commission (ASIC), the Cyprus Securities and Exchange Commission
                     (CySEC), and the European Securities and Markets Authority (ESMA).
                    </p>
                     <p class="uk-text-lead">
                        Since the inception of MTFX, We have sort expansion across many countries in Africa,
                         Asia and Europe. Our success is centred around miscellaneous core values. Values that 
                         include providing competitive brokerage fees through tight spreads, ensuring lightning-fast 
                         execution, access to advanced trading platforms
                         with an extensive portfolio of financial products, and exceptional customer service.
                     </p>
        </div>
    </div>
</div>
</div>
<!-- section content end -->
   
    <!-- section content begin -->
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-3-4@m">
                    <div class="uk-grid uk-flex uk-flex-middle" data-uk-grid>
                        <div class="uk-width-1-2@m">
                            <h4 class="uk-text-muted">Number speaks</h4>
                            <h1 class="uk-margin-medium-bottom">We always ready<br>for a challenge.</h1>
                            <a href="#" class="uk-button uk-button-primary uk-border-rounded">Sign up<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                        </div>
                        <div class="uk-width-1-2@m">
                            <div class="uk-margin-large" data-uk-grid>
                                <div class="uk-width-1-3@m">
                                    <h1 class="uk-text-primary uk-text-right@m">
                                        <span class="count" data-counter-end="500">0</span>
                                    </h1>
                                    <hr class="uk-divider-small uk-text-right@m">
                                </div>
                                <div class="uk-width-expand@m">
                                    <h4>Happy Clients</h4>
                                </div>
                            </div>
                            <div class="uk-margin-large" data-uk-grid>
                                <div class="uk-width-1-3@m">
                                    <h1 class="uk-text-primary uk-text-right@m">
                                        <span class="count" data-counter-end="10000">0</span>
                                    </h1>
                                    <hr class="uk-divider-small uk-text-right@m">
                                </div>
                                <div class="uk-width-expand@m">
                                    <h4>Successful Trades</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
    </main>


    <%- include('./../inc/footer') %>